### Python Reading and Writing CSV files

Jay Urbain, PhD

6/26/2018

Import the datafile mpg.csv, which contains fuel economy data for 234 cars.

* mpg : miles per gallon
* class : car classification
* cty : city mpg
* cyl : # of cylinders
* displ : engine displacement in liters
* drv : f = front-wheel drive, r = rear wheel drive, 4 = 4wd
* fl : fuel (e = ethanol E85, d = diesel, r = regular, p = premium, c = CNG)
* hwy : highway mpg
* manufacturer : automobile manufacturer
* model : model of car
* trans : type of transmission
* year : model year

In [1]:
import csv

%precision 2

with open('data/mpg.csv') as csvfile:
    mpg = list(csv.DictReader(csvfile))
    
mpg[:3] # The first three dictionaries in our list.

[OrderedDict([('', '1'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'auto(l5)'),
              ('drv', 'f'),
              ('cty', '18'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '2'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '1.8'),
              ('year', '1999'),
              ('cyl', '4'),
              ('trans', 'manual(m5)'),
              ('drv', 'f'),
              ('cty', '21'),
              ('hwy', '29'),
              ('fl', 'p'),
              ('class', 'compact')]),
 OrderedDict([('', '3'),
              ('manufacturer', 'audi'),
              ('model', 'a4'),
              ('displ', '2'),
              ('year', '2008'),
              ('cyl', '4'),
              ('trans', 'manual(m6)'),
              ('drv', 'f'),
              ('cty', '20'),
              ('hwy', '31'),
              ('fl', 'p'),
              ('class', 'compact')])]

<br>
`csv.Dictreader` has read in each row of the csv file as a dictionary. `len` shows that our list is comprised of 234 dictionaries.

In [2]:
len(mpg)

234

<br>
`keys` gives us the column names of our csv.

In [3]:
mpg[0].keys()

odict_keys(['', 'manufacturer', 'model', 'displ', 'year', 'cyl', 'trans', 'drv', 'cty', 'hwy', 'fl', 'class'])

Find the average cty fuel economy across all cars. All values in the dictionaries are strings, so we need to convert to float.

In [4]:
[float(d['cty']) for d in mpg]

[18.00,
 21.00,
 20.00,
 21.00,
 16.00,
 18.00,
 18.00,
 18.00,
 16.00,
 20.00,
 19.00,
 15.00,
 17.00,
 17.00,
 15.00,
 15.00,
 17.00,
 16.00,
 14.00,
 11.00,
 14.00,
 13.00,
 12.00,
 16.00,
 15.00,
 16.00,
 15.00,
 15.00,
 14.00,
 11.00,
 11.00,
 14.00,
 19.00,
 22.00,
 18.00,
 18.00,
 17.00,
 18.00,
 17.00,
 16.00,
 16.00,
 17.00,
 17.00,
 11.00,
 15.00,
 15.00,
 16.00,
 16.00,
 15.00,
 14.00,
 13.00,
 14.00,
 14.00,
 14.00,
 9.00,
 11.00,
 11.00,
 13.00,
 13.00,
 9.00,
 13.00,
 11.00,
 13.00,
 11.00,
 12.00,
 9.00,
 13.00,
 13.00,
 12.00,
 9.00,
 11.00,
 11.00,
 13.00,
 11.00,
 11.00,
 11.00,
 12.00,
 14.00,
 15.00,
 14.00,
 13.00,
 13.00,
 13.00,
 14.00,
 14.00,
 13.00,
 13.00,
 13.00,
 11.00,
 13.00,
 18.00,
 18.00,
 17.00,
 16.00,
 15.00,
 15.00,
 15.00,
 15.00,
 14.00,
 28.00,
 24.00,
 25.00,
 23.00,
 24.00,
 26.00,
 25.00,
 24.00,
 21.00,
 18.00,
 18.00,
 21.00,
 21.00,
 18.00,
 18.00,
 19.00,
 19.00,
 19.00,
 20.00,
 20.00,
 17.00,
 16.00,
 17.00,
 17.00,
 15.00,
 15.00,
 14.00,
 9.00,
 14.00,
 13.00,
 11.00,
 11.00,
 12.00,
 12.00,
 11.00,
 11.00,
 11.00,
 12.00,
 14.00,
 13.00,
 13.00,
 13.00,
 21.00,
 19.00,
 23.00,
 23.00,
 19.00,
 19.00,
 18.00,
 19.00,
 19.00,
 14.00,
 15.00,
 14.00,
 12.00,
 18.00,
 16.00,
 17.00,
 18.00,
 16.00,
 18.00,
 18.00,
 20.00,
 19.00,
 20.00,
 18.00,
 21.00,
 19.00,
 19.00,
 19.00,
 20.00,
 20.00,
 19.00,
 20.00,
 15.00,
 16.00,
 15.00,
 15.00,
 16.00,
 14.00,
 21.00,
 21.00,
 21.00,
 21.00,
 18.00,
 18.00,
 19.00,
 21.00,
 21.00,
 21.00,
 22.00,
 18.00,
 18.00,
 18.00,
 24.00,
 24.00,
 26.00,
 28.00,
 26.00,
 11.00,
 13.00,
 15.00,
 16.00,
 17.00,
 15.00,
 15.00,
 15.00,
 16.00,
 21.00,
 19.00,
 21.00,
 22.00,
 17.00,
 33.00,
 21.00,
 19.00,
 22.00,
 21.00,
 21.00,
 21.00,
 16.00,
 17.00,
 35.00,
 29.00,
 21.00,
 19.00,
 20.00,
 20.00,
 21.00,
 18.00,
 19.00,
 21.00,
 16.00,
 18.00,
 17.00]

In [5]:
sum(float(d['cty']) for d in mpg) / len(mpg)

16.86

Find the average hwy fuel economy across all cars.

In [6]:
sum(float(d['hwy']) for d in mpg) / len(mpg)

23.44

<br>
Use `set` to return the unique values for the number of cylinders the cars in our dataset have.

In [7]:
cylinders = set(d['cyl'] for d in mpg)
cylinders

{'4', '5', '6', '8'}

Group the cars by number of cylinder, and finding the average cty mpg for each group.

In [8]:
CtyMpgByCyl = []

for c in cylinders: # iterate over all the cylinder levels
    summpg = 0
    cyltypecount = 0
    for d in mpg: # iterate over all dictionaries
        if d['cyl'] == c: # if the cylinder level type matches,
            summpg += float(d['cty']) # add the cty mpg
            cyltypecount += 1 # increment the count
    CtyMpgByCyl.append((c, summpg / cyltypecount)) # append the tuple ('cylinder', 'avg mpg')

CtyMpgByCyl.sort(key=lambda x: x[0])
CtyMpgByCyl

[('4', 21.01), ('5', 20.50), ('6', 16.22), ('8', 12.57)]

<br>
Use `set` to return the unique values for the class types in our dataset.

In [9]:
vehicleclass = set(d['class'] for d in mpg) # what are the class types
vehicleclass

{'2seater', 'compact', 'midsize', 'minivan', 'pickup', 'subcompact', 'suv'}

Find the average hwy mpg for each class of vehicle in our dataset.

In [10]:
HwyMpgByClass = []

for t in vehicleclass: # iterate over all the vehicle classes
    summpg = 0
    vclasscount = 0
    for d in mpg: # iterate over all dictionaries
        if d['class'] == t: # if the cylinder amount type matches,
            summpg += float(d['hwy']) # add the hwy mpg
            vclasscount += 1 # increment the count
    HwyMpgByClass.append((t, summpg / vclasscount)) # append the tuple ('class', 'avg mpg')

HwyMpgByClass.sort(key=lambda x: x[1])
HwyMpgByClass

[('pickup', 16.88),
 ('suv', 18.13),
 ('minivan', 22.36),
 ('2seater', 24.80),
 ('midsize', 27.29),
 ('subcompact', 28.14),
 ('compact', 28.30)]